.btns{
  width: 100vw;
  height: 50px;
   /* border: 1px solid black; */
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.btns > .btn{
  /* border-bottom: 2px solid black; */
  width: 100px;
  margin-left: 10px;
  height: 90%;
}

.btns > .btn:focus{
  border: none;
  border-bottom: 2px solid black;
}